### Importing the data

In [27]:
import numpy as np
import pandas as pd
prices=pd.read_csv("sample_prices.csv")
returns=prices.pct_change()
returns

      Asset1    Asset2
0        NaN       NaN
1   0.023621  0.039662
2  -0.021807 -0.033638
3  -0.031763  0.082232
4   0.034477  0.044544
5   0.037786 -0.026381
6  -0.011452 -0.049187
7   0.032676  0.117008
8  -0.012581  0.067353
9   0.029581  0.078249
10  0.006151 -0.168261
11  0.012162  0.024041
12  0.021149 -0.055623

In [36]:
returns=returns.dropna()

### Mean and Volatility of the returns

In [37]:
returns.mean()

Asset1    0.01
Asset2    0.01
dtype: float64

In [38]:
returns.std()

Asset1    0.023977
Asset2    0.079601
dtype: float64

### Deviations

In [39]:
deviations=returns-returns.mean()
squared_deviations= deviations**2
variance= squared_deviations.mean()
volatility=np.sqrt(variance)
volatility

Asset1    0.022957
Asset2    0.076212
dtype: float64

In [40]:
number_of_observations=returns.shape[0]

In [42]:

variance= squared_deviations.sum()/(number_of_observations-1)
Volatility=np.sqrt(variance)
volatility

Asset1    0.022957
Asset2    0.076212
dtype: float64

In [46]:
annualized_volatility=volatility*np.sqrt(12)

In [47]:
annualized_volatility

Asset1    0.079524
Asset2    0.264008
dtype: float64